@use "var" as *;

.blog {
    background-color: $pale-grey;
    ul {
        padding: 0;
    }
    li {
        list-style: none;
    }
}

.blog img {
    width: 50%;
    height: auto;
}

.blog-text {
    width: 50%;
    padding: 30px;
    border: solid 1px hotpink;
    h2 {
        text-align: left;
        width: 65%;
    }
}

.blog-post {
display: flex;
justify-content: space-between;
}
