@use "var" as *;

.blog {
    background-color: $pale-grey;
    ul {
        padding: 0;
    }
    li {
        list-style: none;
    }
}

.blog-post {
    position: relative;
    .right {
        right: 0;
    }
    .left {
        left: 0;
    }
        img {
            position: absolute;
            width: 50%;
            height: 50vw;
        }
}

.blog-text {
    h2 {
        padding: 0;
        width: 80%;
        text-align: left;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 70px;
    width: 50%;
    min-height: 50vw;
    &.left {
        margin-left: 50%;
        padding-right: 0;
        padding-left: 70px;
    }
}