@use "var" as *;

.footer-links {
    min-height: auto;
    ul {
        padding: 70px 0;
        display: flex;
        justify-content: space-around;
    }
    li{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }
}

footer {
    background-color: $pale-grey;
    padding-top: 70px;
    .wrapper {
        display: flex;
        justify-content: space-between;
    }
    form {
        width: 50%;
    }
    input {
        width: 100%;
        border: $pale-rose solid 2px;
        border-radius: 0;
    }
    .email-button{
        display: flex;
        justify-content: space-between;
    }
    ul {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    li {
        padding-bottom: 10px;
    }
    .copyright {
        margin-top: 70px;
        background-color: $marine;
        text-align: center;
    }
}