@use "var" as *;

.footer-links {
    min-height: auto;
    ul {
        padding: 70px 0;
        display: flex;
        justify-content: space-around;
    }
    li{
        list-style: none;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        // align-items: flex-end;
    }
}

footer {
    background-color: $pale-grey;
    padding: 50px 0;
    .wrapper {
        display: flex;
        justify-content: space-between;
    }
}