@use "var" as *;

.header-nav {
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    ul {
        display: flex;
        padding: 0;
        margin: 0;
        li {
            list-style: none;
        }
        a {
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 45px;
        }
    }
}

.title-socials {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    .title {
        padding-top: 100px;
    }
    .socials {
        list-style: none;
        align-items: center;
        padding: 0;
        position: relative;
        right: -70px;
        i {
            padding: 7px;
        }
    }
}

.hero {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -5;
}