@use "var" as *;

.news-coffee {
    ul {
        display: flex;
        justify-content: space-between;
        padding: 70px 0;
            li {
                width: 31%;
            }
        }
}

.coffee {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        height: 315px;
        width: 315px;
    }
    .coffee-text {
        padding-left: 30px;
        h2 {
            text-align: left;
            padding-top: 0;
        }
    }
}