@use "var" as *;

html {
    background-color: $light-pink;
    font-size: 62.5%;
    font-family: 'Barlow', sans-serif;
    color: $darker-grey;
}

.wrapper {
    width: 87%;
    max-width: 1200px;
    margin: 0 auto;
    border: solid 1px black;
}

.section-padding {
    padding: 70px 0;
}

header,
section {
    min-height: 100vh;
}

img {
    object-fit: cover;
    width: 100%;
    display: block;
}

// Fonts
@mixin emblema-one-font($font-size) {
    font-size: $font-size;
    font-family: 'Emblema One', cursive;
    text-transform: uppercase;
    color: $water-blue;
  }
  
h1 {
    @include emblema-one-font(10.46rem);
    line-height: 87.3px;
    margin: 0;
    span {
        display: block
    }
}

h2 {
    @include emblema-one-font(4.2rem);
    text-align: center;
    padding-bottom: 10px;
    margin: 0;
}

h3 {
    font-size: 3.72rem;
    line-height: 37.8px;
    letter-spacing: 0.3px;
    color: $marine;
    margin: 0;
}

h4 {
    @include emblema-one-font(2.4rem);
    text-align: left;
    margin: 0;
    padding-top: 0;
}

p,
address a {
    font-size: 2.5rem;
    line-height: 29px;
    letter-spacing: 0.2px;
}

// List Defaults & Buttons
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}

// link defaults & buttons
a {
color: $marine;
text-decoration: none;
text-transform: uppercase;
&:hover,
&:focus {
    text-decoration: underline;
}
&:visited {
    color: $water-blue;
}
}

button {
    @include emblema-one-font(2rem);
    color: $marine;
    background-color: $pale-rose;
    justify-content: center;
    line-height: 29px;
    border: none;
    border-radius: 2px;
    padding: 10px 15px;
    margin: 30px 0 0 0;
}

.coffee button {
    color: $pale-grey;
    background-color: $marine;
}


// _header section
nav a {
    font-family: 'Catamaran', sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 29px;
}

i {
    color: $water-blue;
    font-size: 3rem;
}

// _footer section
.nav-links {
   a{
    @include emblema-one-font(3rem);
   }
    i {
        color: $marine;
        font-size: 4rem;
        text-align: center;
        padding-bottom: 20px;
    }
}

footer {
    p,
    input,
    address a {
        font-size: 1.5rem;
    }
    button,
    address p {
        margin: 0;
    }
    address a {
        text-transform: lowercase;
    }
    address {
        font-style: normal;
    }
    .footer-links a {
        @include emblema-one-font(2.5rem);
        &:visited {
            color: $marine;
        }
    }
    }

.copyright p,
.copyright a {
        font-size: 1.5rem;
        color: $pale-grey;
        margin: 0;
        text-transform: capitalize;
    }
