@use "var" as *;

// font-family: 'Barlow', sans-serif;
// font-family: 'Catamaran', sans-serif;
// font-family: 'Emblema One', cursive;


html {
    background-color: $light-pink;
    font-size: 62.5%;
    font-family: 'Barlow', sans-serif;
    color: $darker-grey;
}

.wrapper {
    width: 87%;
    max-width: 1200px;
    margin: 0 auto;
    border: solid 2px black;
}

header,
section {
    min-height: 100vh;
}

img {
    object-fit: cover;
    width: 100%;
    display: block;
}

@mixin emblema-one-font($font-size) {
    font-size: $font-size;
    font-family: 'Emblema One', cursive;
    text-transform: uppercase;
    color: $water-blue;
  }
  
h1 {
    @include emblema-one-font(10.46rem);
    line-height: 87.3px;
    margin: 0;
    span {
        display: block
    }
}

h2 {
    @include emblema-one-font(4.2rem);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
    margin: 0;
}

h3 {
    font-family: 'Barlow', sans-serif;
    font-size: 3.72rem;
    letter-spacing: 0.3px;
    color: $marine;
    margin: 0;
}

p {
    font-size: 2.5rem;
    line-height: 29px;
    letter-spacing: 0.2px;
    margin: 0;
}

nav a {
    font-family: 'Catamaran', sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 29px;
    color: $marine;
    text-decoration: none;
    text-transform: uppercase;
    &:hover,
    &:focus {
        color: $water-blue;
        text-decoration: underline;
    }
    &:visited {
        color: $water-blue;
    }
}

i {
    color: $water-blue;
    font-size: 3rem;
}

button {
    @include emblema-one-font(2rem);
    color: $marine;
    background-color: $pale-rose;
    justify-content: center;
    line-height: 29px;
    border: none;
    border-radius: 2px;
    padding: 10px 15px;
    margin: 30px 0;
}

.footer-links {
   a {
    @include emblema-one-font(3rem);
   }
    i {
        color: $marine;
        font-size: 4rem;
        text-align: center;
        padding-bottom: 20px;
    }
}