html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  background-color: #FCDDE2;
  font-size: 62.5%;
  font-family: "Barlow", sans-serif;
  color: #1F2022;
}

.wrapper {
  width: 87%;
  max-width: 1200px;
  margin: 0 auto;
  border: solid 1px black;
}

.section-padding {
  padding: 70px 0;
}

header,
section {
  min-height: 100vh;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  display: block;
}

h1 {
  font-size: 10.46rem;
  font-family: "Emblema One", cursive;
  text-transform: uppercase;
  color: #1D81CC;
  line-height: 87.3px;
  margin: 0;
}
h1 span {
  display: block;
}

h2 {
  font-size: 4.2rem;
  font-family: "Emblema One", cursive;
  text-transform: uppercase;
  color: #1D81CC;
  text-align: center;
  padding-bottom: 10px;
  margin: 0;
}

h3 {
  font-size: 3.72rem;
  line-height: 37.8px;
  letter-spacing: 0.3px;
  color: #042259;
  margin: 0;
}

h4 {
  font-size: 2.4rem;
  font-family: "Emblema One", cursive;
  text-transform: uppercase;
  color: #1D81CC;
  text-align: left;
  margin: 0;
  padding-top: 0;
}

p,
address a {
  font-size: 2.5rem;
  line-height: 29px;
  letter-spacing: 0.2px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  color: #042259;
  text-decoration: none;
  text-transform: uppercase;
}
a:hover, a:focus {
  text-decoration: underline;
}
a:visited {
  color: #1D81CC;
}

button {
  font-size: 2rem;
  font-family: "Emblema One", cursive;
  text-transform: uppercase;
  color: #1D81CC;
  color: #042259;
  background-color: #F5C8CF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 29px;
  border: none;
  border-radius: 2px;
  padding: 10px 15px;
  margin: 30px 0 0 0;
}

.coffee button {
  color: #F0F5FF;
  background-color: #042259;
}

nav a {
  font-family: "Catamaran", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 29px;
}

i {
  color: #1D81CC;
  font-size: 3rem;
}

.nav-links a {
  font-size: 3rem;
  font-family: "Emblema One", cursive;
  text-transform: uppercase;
  color: #1D81CC;
}
.nav-links i {
  color: #042259;
  font-size: 4rem;
  text-align: center;
  padding-bottom: 20px;
}

footer p,
footer input,
footer address a {
  font-size: 1.5rem;
}
footer button,
footer address p {
  margin: 0;
}
footer address a {
  text-transform: lowercase;
}
footer address {
  font-style: normal;
}
footer .footer-links a {
  font-size: 2.5rem;
  font-family: "Emblema One", cursive;
  text-transform: uppercase;
  color: #1D81CC;
}
footer .footer-links a:visited {
  color: #042259;
}

.copyright p,
.copyright a {
  font-size: 1.5rem;
  color: #F0F5FF;
  margin: 0;
  text-transform: capitalize;
}

.hero {
  max-width: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.header-nav {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}
.header-nav ul a {
  padding: 20px 0;
  padding-left: 45px;
}

.title-socials {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}
.title-socials .title {
  padding-top: 100px;
}
.title-socials .socials {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  right: -70px;
}
.title-socials .socials i {
  padding: 7px;
}

.news-coffee ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 70px 0;
}
.news-coffee ul li {
  width: 31%;
}

.coffee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.coffee img {
  height: 315px;
  width: 315px;
}
.coffee .coffee-text {
  padding-left: 30px;
}
.coffee .coffee-text h2 {
  text-align: left;
  padding-top: 0;
}

.blog {
  background-color: #F0F5FF;
}

.blog-post {
  position: relative;
}
.blog-post .right {
  right: 0;
}
.blog-post .left {
  left: 0;
}
.blog-post img {
  position: absolute;
  width: 50%;
  height: 50vw;
}

.blog-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-right: 70px;
  width: 50%;
  min-height: 50vw;
}
.blog-text.left {
  margin-left: 50%;
  padding-right: 0;
  padding-left: 70px;
}
.blog-text h2 {
  width: 80%;
  text-align: left;
}

.nav-links {
  min-height: auto;
}
.nav-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.nav-links li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer {
  background-color: #F0F5FF;
}
footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer form {
  width: 50%;
}
footer input {
  width: 100%;
  border: #F5C8CF solid 2px;
  border-radius: 0;
  padding-left: 30px;
}
footer .email-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0;
}
footer li {
  padding-bottom: 10px;
}

.contact-links {
  width: 50%;
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.copyright {
  background-color: #042259;
  text-align: center;
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  header,
section {
    min-height: 80vh;
  }
  h1 {
    font-size: 8rem;
    line-height: 60px;
  }
  h2,
h3 {
    font-size: 3rem;
  }
  .hero {
    bottom: 20vh;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .coffee {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 30px;
  }
  .coffee img {
    width: 100%;
  }
  .coffee .coffee-text {
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .coffee .coffee-text h2 {
    text-align: center;
    padding-top: 35px;
  }
  .coffee .coffee-text button {
    display: block;
    padding: 25px 40px;
  }
  .blog {
    background-color: #FCDDE2;
  }
  .blog ul {
    margin: 0;
  }
  .blog-post {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog-post img {
    position: static;
    width: 100%;
    padding-bottom: 30px;
  }
  .blog-text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 0;
    width: 100%;
  }
  .blog-text.left {
    margin-left: 0;
    padding-left: 0;
  }
  .blog-text h2 {
    width: 100%;
    text-align: center;
  }
  .blog-text button {
    color: #F0F5FF;
    background-color: #042259;
    margin-bottom: 30px;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  .wrapper {
    width: 92%;
  }
  header,
section {
    min-height: 70vh;
  }
  h1 {
    font-size: 5rem;
    line-height: 40px;
  }
  h3 {
    font-size: 1.7rem;
  }
  .hero {
    max-width: 75%;
    bottom: 30vh;
  }
  .news-coffee {
    padding-top: 30px;
  }
  .news-coffee ul {
    padding: 30px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .news-coffee ul li {
    width: 48%;
  }
  .news-coffee ul li:nth-child(3) {
    display: none;
  }
  .nav-links {
    width: 100vw;
    background-color: #F5C8CF;
  }
  .nav-links ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .nav-links li {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px 0;
  }
  footer .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer form,
.contact-links {
    width: 100%;
  }
  footer form {
    justify-items: center;
  }
  footer form label {
    text-align: center;
  }
  footer form label h4 {
    text-align: center;
  }
  .email-button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .email-button input {
    padding: 15px 0;
    margin-bottom: 10px;
    text-align: center;
  }
  .contact-links {
    width: 100%;
    padding: 30px 0 0 0;
  }
}